* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body { 
    background-color: rgb(238, 238, 238);
}
.navbar {
    width: 100%;
    background-color: white;
    font-size: large;
}
.navbar a {
    text-decoration: none;
    color: black;
}
.nav-cont {
    height: 2.8rem;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-r a {
    padding: 15px;
    border-radius: 3px;
    margin: 2px;
}
.nav-r a:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.container {
    margin: auto;
    width: 50rem;
    background-color: white;
    border-left: solid 1px rgb(192, 192, 192);
    border-right: solid 1px rgb(192, 192, 192);
}

.articles {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

.username {
    font-weight: bold;
}

.date {
    color: rgb(114, 114, 114);
    font-weight: bold;
    font-size: small;
}

textarea {
    width: 100%;
    min-height: 10rem;
    padding: 8px;
    border-radius: 10px;
    border: solid 1px rgb(192, 192, 192);
    
}

.img-container {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
    border: solid 1px rgb(192, 192, 192);
    border-radius: 10px;
}

.btn-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    font-size: 1.05rem;
    width: 7rem;
    height: 2rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.delete {
    background-color: white;
    border: 2px solid rgb(150, 0, 0);
    color: rgb(150, 0, 0);
}
.delete:hover {
    background-color: rgb(238, 0, 0);
    border: 1px solid rgb(150, 0, 0);
    color: white;
    cursor: pointer;
}

.save {
    background-color: rgb(0, 151, 238);
    border: 1px solid rgb(0, 82, 150);
    color: white;
}
.save:hover {
    background-color: rgb(0, 122, 221);
    cursor: pointer;
}