* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

.Forum {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container {
    border: 1px solid rgb(179, 179, 179);
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    width: 27rem;
    margin: auto;
}

.margcont {
    margin: 20px;
    margin-bottom: 10px;
}

h1 {
    font-weight: lighter;
    margin-bottom: 15px;
}

.input {
    margin-bottom: 15px;
}

input {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    height: 2rem;
    text-align: left;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
}

.condition {
    font-size: small;
}

button {
    font-size: 1.05rem;
    width: 100%;
    height: 2.3rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0, 151, 238);
    border: 1px solid rgb(0, 82, 150);
    margin-bottom: 10px;
}
button:hover {
    background-color: rgb(0, 122, 221);
    cursor: pointer;
}
.link {
    text-decoration: none;
    color: rgb(0, 95, 173);
}